{% extends "baseadmin.html.twig" %}

{% block body %}
    <div class="top-menu">
        <form method="POST" action="{{ path('admin.add.category') }}">
            <input type="text" class="sm" name="name" placeholder="Nom de la catégorie">
            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                <button type ="submit">Ajouter une catégorie</button>
        </form>

        <div class="sort-by">
            <a href="{{ path('admin.categories.sort', {champ:'name', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
            <span>Trier par nom</span>
            <a href="{{ path('admin.categories.sort', {champ:'name', ordre:'DESC'})}}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
        </div>
    </div>
    <div class="category-list">
        {% for categorie in categories %}
            <div class="category">
                <h4>
                    {{ categorie.name }}
                </h4>
                <div class="text-left category-max-h">
                    {% for formation in categorie.formations %}
                        {{ formation.title }}<br />
                    {% endfor %}
                </div>
                <div class="btn-delete">
                    {% if categorie.formations|length == 0 %}
                        <a href="{{ path('admin.delete.category', {id:categorie.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ categorie.name }} ?')">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}