{# admin.formations.form #}

{% extends "baseadmin.html.twig" %}

{% block body %}
    {{ form_start(formformation) }}
    <div class="form-container">
        {{ form_row(formformation.title) }}
        {{ form_row(formformation.description) }}
        {{ form_row(formformation.publishedAt) }}
        {{ form_row(formformation.playlist) }}
        {{ form_row(formformation.videoId) }}
        {{ form_widget(formformation.categories) }}
        {{form_row(formformation.submit, {'label': 'Valider'})}}
    </div>
    {{ form_end(formformation) }}
{% endblock %}