{% extends "baseadmin.html.twig" %}

{% block body %}
    <div class="data-menu">
        <a href="{{ path('admin.formations.form') }}" class="btn">Nouvelle formation</a>
        <div class="sort-by">
            <div class="field">
                <form action="{{ path('admin.formations.title', {champ: 'title'}) }}">
                    <input type="text" class="sm" name="title" value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                    <input type="hidden" name="_token" value="{{ csrf_token('filtre_title') }}">
                    <button type="submit" class="btn btn-info">Chercher</button>
                </form>
            </div>
            <div class="field">
                <a href="{{ path('admin.formations.tri', {champ: 'title', ordre: 'DESC'}) }}" class="btn btn-info btn-sm active btn-up" role="button" aria-pressed="true"><</a>
                <a href="{{ path('admin.formations.tri', {champ: 'title', ordre: 'ASC'}) }}" class="btn btn-info btn-sm active btn-down" role="button" aria-pressed="true">></a>
                <div>Trier par titre</div>
            </div>
        </div>
    </div>
    <div class="category-list">
        {% for formation in formations %}
            <div class="category">
                <h4>{{ formation.title }}</h4>
                <div class="tag-list">
                    <b>Catégories :</b>
                    {% for category in formation.categories %}
                        <span>{{category.name}}</span>
                    {% endfor %}
                </div>
                <div class="description">
                    <b>Description :</b><br/>
                    {{ formation.description|replace({'\n': '<br>', '\r':'<br>'})|raw }}
                </div>
                <div class="menu">
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}